[config]
# the texture to use
texture = 31-traction.png
# the default terrain to be used, if not using landuse its 'gravel'
defaultuse = mud
# the friction config to load, multiple lines possible to load multiple files
loadGroundModelsConfig = 31-groundmodel.cfg

# the colour <--> ground type coupling
[use-map]
#colour format explanation: 0x[fixed!](2 Alpha Char)(2 Red Char)(2 Green Char)(2 Blue Char)


0xffff0000 = asphalt
0xff00ff00 = grass
0xff0000ff = gravel
0xffffff00 = sand
0xff00ffff = rock
0xffff00ff = mud
